.none {
  display: none;
}

body {
  background: url("./images/background.jpg");
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  color: #fff;
}

p {
  margin: 0 0 0.75em;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.article {
  background: rgba(0, 0, 0, 0.4);
  max-width: 700px;
  margin: 0 auto 0.5em auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 3px 5px;
  padding: 1em;
}

.news__author {
  font-weight: bold;
  margin-top: 5px;
}

.news__readmore {
  color: #fff;
}

.news__count {
  color: #fff;
  display: block;
  margin: 2em auto;
  padding-left: 10px;
  max-width: 700px;
}

.add {
  margin: 0 auto 1.5em auto;
  max-width: 700px;
  padding: 5px;
}

.add__author,
.add__text,
.add__btn,
.add__checkrule {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}

.add__checkrule {
  color: #fff;
  border: none;
}

.add__btn {
  box-sizing: content-box;
  height: 30px;
  color: #fff;
  text-transform: uppercase;
  background: #ff2328;
}

.add__btn:disabled {
  background: #ccc;
  color: #999;
}

@media (min-width: 768px) {
  .wrapper {
    border: 4px solid red;
    margin: 2vw 3vw;
  }
}
